/*  */
* {
  box-sizing: border-box;
}
:root {
  --body-background: #f4f4f9;
  --btn-primary: #007bff;
  --btn-primary-hover: #0056b3;
  --btn-secondary: #6c757d;
  --btn-active: #4a90e2;
  --btn-secondary-hover: #5a6268;
  --btn-edit: #ffc107;
  --btn-edit-hover: #e0a800;
  --btn-complete: #32cd23;
  --btn-complete-hover: #228b22;
  --btn-delete: #ff4d4d;
  --btn-delete-hover: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;

  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
  text-align: center;
  color: #333;
}
#todo-input {
  width: 75%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
#todo-input:focus {
  outline: none;
  border-color: var(--btn-primary);
}
#add-todo {
  padding: 10px 20px;
  background-color: var(--btn-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#add-todo:hover {
  background-color: var(--btn-primary-hover);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: aliceblue;
}

.filterBtn,
.editBtn,
.deleteBtn,
.completeBtn {
  margin-left: 4px;
  padding: 8px 12px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: var(--btn-secondary);
  cursor: pointer;
  transition: background-color 0.3s;
}
.editBtn {
  background-color: var(--btn-edit);
}
.completeBtn {
  background-color: var(--btn-complete);
}
.deleteBtn {
  background-color: var(--btn-delete);
}
.filterBtn {
  background-color: var(--btn-active);
}
.filterBtn:hover {
  background-color: var(--btn-active);
}
.editBtn:hover {
  background-color: var(--btn-edit-hover);
}
.deleteBtn:hover {
  background-color: var(--btn-delete-hover);
}
.completeBtn:hover {
  background-color: var(--btn-complete-hover);
}

.filterBtn:hover,
.editBtn:hover,
.deleteBtn:hover,
.completeBtn:hover {
  background-color: var(--btn-secondary-hover);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapperBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}
